<div class="container">

  <div class="left sub">
    <div>

      <h2>
        <span style="color:blue">F</span>
        <span style="color:red">u</span>
        <span style="color:orange">n</span>
        <span style="color:blue">d</span>
        <span style="color:green">o</span>
        <span style="color:red">o</span>
      </h2>

      <span style="font-size:large">
        Create A Fundoonotes Account
      </span>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="parentdiv">
        <div class="childdiv">
          <mat-form-field appearance="outline" class="inputlabel">
            <mat-label class="na">First name</mat-label>
            <input matInput formControlName="firstName" placeholder="first name">
            <mat-error class="err">Enter First name</mat-error>
          </mat-form-field>

        </div>

        <div class="childdiv">
          <mat-form-field appearance="outline" class="inputlabel">
            <mat-label class="label">Last name</mat-label>
            <input matInput formControlName="lastName" placeholder="last name">
            <mat-error class="err">Enter last names</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="email">
        <mat-form-field appearance="outline" class="em">
          <mat-label>Username</mat-label>
          <input matInput formControlName="email" placeholder="xyz@gmail.com">
          <mat-error class="err">Enter Username</mat-error>
          <mat-hint class="err">you can use letters, numbers & periods</mat-hint>
        </mat-form-field>

      </div>

      <div class="parentdiv">
        <div class="childdiv">
          <mat-form-field appearance="outline" class="inputlabel">
            <mat-label class="na">Password</mat-label>
            <input matInput formControlName="password" type="password" placeholder="Placeholder">
            <mat-error class="err">Enter Password</mat-error>
          </mat-form-field>

        </div>

        <div class="childdiv">
          <mat-form-field appearance="outline" class="inputlabel">
            <mat-label class="label">Confirm password</mat-label>
            <input matInput type="password" formControlName="confirmPassword" placeholder="Placeholder">
            <mat-error class="err">Enter Confirm Password</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="pwd-data">
        <span class="err">Use 8 or more characters with a mix of letters, numbers & symbols</span>
      </div>

      <div class="showpass">
        <mat-checkbox color="primary" class="example-margin">show passoword</mat-checkbox>
      </div>


      <div class="buttn">
        <div class="button 1">
              <button mat-button routerLink="/login" >Sign in instead</button>
        </div>

        <div class="button2">
           <button mat-raised-button class="fullbutton" >Next</button>
        </div>
      </div>
      
    </form>
  </div>

  <div class="right sub">
    <P>
      <img src="assets\registration.svg" height="250px" width="240px" alt="logo">
    </P>
  </div>

</div>