<div class="container">
    <div class=" center">
        <h1>
          <span style="color:blue">F</span>
          <span style="color:red">u</span>
          <span style="color:yellow">n</span>
          <span style="color:blue">d</span>
          <span style="color:green">o</span>
          <span style="color:red">o</span>
        </h1>
        <h1>Reset Password</h1>
        <span style="font-size:large">
          Enter your password and confirm password
        </span>
    </div>

<form [formGroup]="resetpasswordForm" (ngSubmit)="onSubmit()">
    <div class="parentdiv">
        <div class="childdiv">
          <mat-form-field appearance="outline" class="inputlabel" style="width:100%">
            <mat-label>Password</mat-label>
            <input matInput  formControlName="password" placeholder="Password">
            <mat-error class="err">Enter the Password</mat-error>
          </mat-form-field>
        </div>

        <div class="childdiv">
          <mat-form-field appearance="outline" class="inputlabel" style="width:100%">
            <mat-label>Confirm password</mat-label>
            <input matInput  formControlName="confirmPassword" placeholder="Confirm password">
            <mat-error class="err">Enter Confirm Password</mat-error>
          </mat-form-field>
        </div>
    </div>

    <div class="button">
        <div class="button2">
            <button mat-raised-button color="primary" >Next</button>
        </div>
    </div>
</form>